<h1>Welcome to the Deck-Tracker Library!</h1>
<div class="card_container">
 <%= render partial: '/pages/cards/card', collection: session[:images], as: :img_hash %>
</div>

<div class="refresh_form">
    <%= render partial: '/pages/forms/refresh_button' %>
    <%= render partial: '/pages/forms/refresh_counter', locals: {counter: @refresh_counter} %>
</div>