<h1>Welcome to the Deck-Tracker Library!</h1>
<div class="card_container">
    <%= render partial: '/pages/cards/card_image' %>
    <%= render partial: '/pages/cards/card_image' %>
    <%= render partial: '/pages/cards/card_image' %>
</div>